<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script src="http://code.highcharts.com/stock/highstock.js"></script>
        <script src="../src/directives/ng-highcharts.js"></script>
        <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet">

        <style>
            #chart1{
                height:400px;
            }
            #json{
                display:block;
                width: 100%;
                height: 400px;
            }
        </style>
    </head>
    <body ng-app="myapp">
    <h2>Highchart-ng example</h2>

    <div class="container-fluid" ng-controller="myctrl">
        <div class="row">

            <div class="span6">
                <textarea id="json">{{json}}</textarea>
                <button class="btn" ng-click='doApply()'>ApplyTextArea</button>
                <button class="btn" ng-click='doApply1()'>Apply1</button>
                <button class="btn" ng-click='doApply2()'>Apply2</button>
                <button class="btn" ng-click='doApply3()'>Apply3</button>
            </div>

            <highchart id="chart1" data-options="chartConfig" class="span6" data-loading="loadingFlag"></highchart>

        </div>

    </div>

    <script src="./demo.js"></script>
    </body>
</html>